node_modules
dist
dist-ssr
*.local
.vite
*.tsbuildinfo
.claude/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel

# Playwright
playwright-report
test-results
